In [1]:
#Combining and Merging Data

In [2]:
#concatenating data

In [13]:
import pandas as pd

import os as os

filenames = os.listdir("/data/babynames/")



filenames

['yob2001.txt',
 'yob1986.txt',
 'yob1894.txt',
 'yob1890.txt',
 'yob1919.txt',
 'yob1972.txt',
 'yob1882.txt',
 'yob1982.txt',
 'yob1984.txt',
 'yob1992.txt',
 'yob1911.txt',
 'yob1960.txt',
 'yob1994.txt',
 'yob1907.txt',
 'yob1899.txt',
 'yob2005.txt',
 'yob2008.txt',
 'yob1958.txt',
 'yob1955.txt',
 'yob1889.txt',
 'yob1949.txt',
 'yob1926.txt',
 'yob1990.txt',
 'yob1885.txt',
 'yob1963.txt',
 'yob1948.txt',
 'yob1944.txt',
 'yob1910.txt',
 'yob1941.txt',
 'yob1977.txt',
 'yob1903.txt',
 'yob1983.txt',
 'yob1987.txt',
 'yob1966.txt',
 'yob1917.txt',
 'yob1914.txt',
 'yob1892.txt',
 'yob1964.txt',
 'yob1938.txt',
 'yob1940.txt',
 'yob1881.txt',
 'yob1893.txt',
 'yob1959.txt',
 'yob1897.txt',
 'yob1988.txt',
 'yob1953.txt',
 'yob1991.txt',
 'yob1943.txt',
 'yob1946.txt',
 'yob1995.txt',
 'yob1965.txt',
 'yob1999.txt',
 'yob1929.txt',
 'yob2003.txt',
 'yob1934.txt',
 'yob1923.txt',
 'yob1981.txt',
 'yob1998.txt',
 'yob2006.txt',
 'yob1996.txt',
 'yob1950.txt',
 'yob1920.txt',
 'yob2010.txt',
 'yob1887.txt',
 'yob1921.txt',
 'yob1942.txt',
 'yob1971.txt',
 'yob1912.txt',
 'yob1957.txt',
 'yob1880.txt',
 'yob1928.txt',
 'yob1974.txt',
 'yob1951.txt',
 'yob1969.txt',
 'yob1918.txt',
 'yob2012.txt',
 'yob1900.txt',
 'yob1956.txt',
 'yob1932.txt',
 'yob1886.txt',
 'yob1916.txt',
 'yob1967.txt',
 'yob1993.txt',
 'yob1906.txt',
 'yob1888.txt',
 'yob2013.txt',
 'yob1925.txt',
 'yob1975.txt',
 'yob1935.txt',
 'yob1895.txt',
 'yob2011.txt',
 'yob1930.txt',
 'yob1896.txt',
 'yob1905.txt',
 'yob1980.txt',
 'yob1915.txt',
 'yob1884.txt',
 'yob2009.txt',
 'yob2002.txt',
 'yob1962.txt',
 'yob1936.txt',
 'yob1979.txt',
 'yob1927.txt',
 'yob1952.txt',
 'yob2007.txt',
 'yob1931.txt',
 'yob1978.txt',
 'yob1976.txt',
 'yob1908.txt',
 'yob1933.txt',
 'yob1913.txt',
 'yob1945.txt',
 'yob1970.txt',
 'yob1901.txt',
 'yob2000.txt',
 'yob1883.txt',
 'yob1898.txt',
 'yob1973.txt',
 'yob1985.txt',
 'yob1909.txt',
 'yob1968.txt',
 'yob1902.txt',
 'yob1937.txt',
 'yob1961.txt',
 'yob1947.txt',
 'yob1989.txt',
 'yob1954.txt',
 'yob1904.txt',
 'yob1924.txt',
 'yob1891.txt',
 'yob1922.txt',
 'yob1997.txt',
 'yob2014.txt',
 'yob2004.txt',
 'yob1939.txt']

In [16]:
#data = pd.read_csv("/data/babynames/yob1880.txt", names = ["Name" ,"Gender", "Count", "Year"])
#data

data_list = []

for filename in filenames:
    
    d = pd.read_csv("/data/babynames/" + filename, names = ["Name" ,"Gender", "Count"]) 
    
    d["Year"] = filename[3:7]
    data_list.append(d)
    
data = pd.concat(data_list)

data

            Name Gender  Count  Year
0          Emily      F  25052  2001
1        Madison      F  22158  2001
2         Hannah      F  20707  2001
3         Ashley      F  16524  2001
4         Alexis      F  16396  2001
5          Sarah      F  15890  2001
6       Samantha      F  15859  2001
7        Abigail      F  14803  2001
8      Elizabeth      F  14780  2001
9         Olivia      F  13974  2001
10       Jessica      F  13916  2001
11        Taylor      F  13687  2001
12          Emma      F  13304  2001
13        Alyssa      F  13265  2001
14        Lauren      F  12778  2001
15         Grace      F  12084  2001
16         Kayla      F  11889  2001
17       Brianna      F  11774  2001
18          Anna      F  10570  2001
19         Megan      F  10296  2001
20      Victoria      F  10177  2001
21       Destiny      F   9744  2001
22        Sydney      F   9636  2001
23        Rachel      F   9529  2001
24       Jasmine      F   8954  2001
25      Jennifer      F   8920  2001
26         Julia      F   8835  2001
27      Isabella      F   8830  2001
28        Morgan      F   8734  2001
29         Chloe      F   8174  2001
...          ...    ...    ...   ...
8889       Velma      M      5  1939
8890      Verdie      M      5  1939
8891      Verdon      M      5  1939
8892      Verlie      M      5  1939
8893       Veron      M      5  1939
8894  Victoriano      M      5  1939
8895     Victory      M      5  1939
8896      Violet      M      5  1939
8897      Virlyn      M      5  1939
8898     Visente      M      5  1939
8899      Waylan      M      5  1939
8900     Welcome      M      5  1939
8901  Wenceslaus      M      5  1939
8902    Wendelin      M      5  1939
8903      Wendle      M      5  1939
8904      Wetzel      M      5  1939
8905     Wharton      M      5  1939
8906     Whitley      M      5  1939
8907      Wildon      M      5  1939
8908    Wilfrido      M      5  1939
8909      Willes      M      5  1939
8910     Willson      M      5  1939
8911      Winnie      M      5  1939
8912       Wymon      M      5  1939
8913       Yancy      M      5  1939
8914      Yoshio      M      5  1939
8915       Yukio      M      5  1939
8916   Zachariah      M      5  1939
8917       Zelma      M      5  1939
8918       Zenon      M      5  1939

[1825433 rows x 4 columns]

In [17]:
# we just read in data from many files using concat func

In [18]:
data.ix[0,:]

        Name Gender  Count  Year
0      Emily      F  25052  2001
0    Jessica      F  52667  1986
0       Mary      F  13151  1894
0       Mary      F  12078  1890
0       Mary      F  65840  1919
0   Jennifer      F  63606  1972
0       Mary      F   8148  1882
0   Jennifer      F  57109  1982
0   Jennifer      F  50559  1984
0     Ashley      F  38453  1992
0       Mary      F  24390  1911
0       Mary      F  51479  1960
0    Jessica      F  32116  1994
0       Mary      F  17580  1907
0       Mary      F  13172  1899
0      Emily      F  23928  2005
0       Emma      F  18799  2008
0       Mary      F  55850  1958
0       Mary      F  63160  1955
0       Mary      F  11648  1889
0      Linda      F  91010  1949
0       Mary      F  67823  1926
0    Jessica      F  46466  1990
0       Mary      F   9128  1885
0       Lisa      F  56039  1963
0      Linda      F  96205  1948
0       Mary      F  62463  1944
0       Mary      F  22848  1910
0       Mary      F  58031  1941
0   Jennifer      F  58960  1977
..       ...    ...    ...   ...
0       Mary      F  60293  1931
0   Jennifer      F  56311  1978
0   Jennifer      F  59479  1976
0       Mary      F  18666  1908
0       Mary      F  55493  1933
0       Mary      F  36641  1913
0       Mary      F  59284  1945
0   Jennifer      F  46160  1970
0       Mary      F  13136  1901
0      Emily      F  25952  2000
0       Mary      F   8012  1883
0       Mary      F  14406  1898
0   Jennifer      F  62454  1973
0    Jessica      F  48346  1985
0       Mary      F  19259  1909
0       Lisa      F  49532  1968
0       Mary      F  14486  1902
0       Mary      F  55640  1937
0       Mary      F  47667  1961
0      Linda      F  99680  1947
0    Jessica      F  47882  1989
0       Mary      F  68001  1954
0       Mary      F  14962  1904
0       Mary      F  73527  1924
0       Mary      F  11703  1891
0       Mary      F  72171  1922
0      Emily      F  25731  1997
0       Emma      F  20799  2014
0      Emily      F  25025  2004
0       Mary      F  54900  1939

[135 rows x 4 columns]

In [26]:
#issue: you got many rows, but expect a single one
#when u concat tables, it didn't change row indices so u had many row 0's and 1's etc.

data = data.reset_index()
#data = pd.concat(data,ignore_index = True)

In [27]:
data

         level_0  index        Name Gender  Count  Year
0              0      0       Emily      F  25052  2001
1              1      1     Madison      F  22158  2001
2              2      2      Hannah      F  20707  2001
3              3      3      Ashley      F  16524  2001
4              4      4      Alexis      F  16396  2001
5              5      5       Sarah      F  15890  2001
6              6      6    Samantha      F  15859  2001
7              7      7     Abigail      F  14803  2001
8              8      8   Elizabeth      F  14780  2001
9              9      9      Olivia      F  13974  2001
10            10     10     Jessica      F  13916  2001
11            11     11      Taylor      F  13687  2001
12            12     12        Emma      F  13304  2001
13            13     13      Alyssa      F  13265  2001
14            14     14      Lauren      F  12778  2001
15            15     15       Grace      F  12084  2001
16            16     16       Kayla      F  11889  2001
17            17     17     Brianna      F  11774  2001
18            18     18        Anna      F  10570  2001
19            19     19       Megan      F  10296  2001
20            20     20    Victoria      F  10177  2001
21            21     21     Destiny      F   9744  2001
22            22     22      Sydney      F   9636  2001
23            23     23      Rachel      F   9529  2001
24            24     24     Jasmine      F   8954  2001
25            25     25    Jennifer      F   8920  2001
26            26     26       Julia      F   8835  2001
27            27     27    Isabella      F   8830  2001
28            28     28      Morgan      F   8734  2001
29            29     29       Chloe      F   8174  2001
...          ...    ...         ...    ...    ...   ...
1825403  1825403   8889       Velma      M      5  1939
1825404  1825404   8890      Verdie      M      5  1939
1825405  1825405   8891      Verdon      M      5  1939
1825406  1825406   8892      Verlie      M      5  1939
1825407  1825407   8893       Veron      M      5  1939
1825408  1825408   8894  Victoriano      M      5  1939
1825409  1825409   8895     Victory      M      5  1939
1825410  1825410   8896      Violet      M      5  1939
1825411  1825411   8897      Virlyn      M      5  1939
1825412  1825412   8898     Visente      M      5  1939
1825413  1825413   8899      Waylan      M      5  1939
1825414  1825414   8900     Welcome      M      5  1939
1825415  1825415   8901  Wenceslaus      M      5  1939
1825416  1825416   8902    Wendelin      M      5  1939
1825417  1825417   8903      Wendle      M      5  1939
1825418  1825418   8904      Wetzel      M      5  1939
1825419  1825419   8905     Wharton      M      5  1939
1825420  1825420   8906     Whitley      M      5  1939
1825421  1825421   8907      Wildon      M      5  1939
1825422  1825422   8908    Wilfrido      M      5  1939
1825423  1825423   8909      Willes      M      5  1939
1825424  1825424   8910     Willson      M      5  1939
1825425  1825425   8911      Winnie      M      5  1939
1825426  1825426   8912       Wymon      M      5  1939
1825427  1825427   8913       Yancy      M      5  1939
1825428  1825428   8914      Yoshio      M      5  1939
1825429  1825429   8915       Yukio      M      5  1939
1825430  1825430   8916   Zachariah      M      5  1939
1825431  1825431   8917       Zelma      M      5  1939
1825432  1825432   8918       Zenon      M      5  1939

[1825433 rows x 6 columns]

In [24]:
#What happens if the data frames you are concatenating have different column indices?

# pd.concat glues data frames ALONG column indexes

In [25]:
#what if we wngted to glue data frames along row indices?

# see slides for two ways to concat

# axis argument specifies dimension over which to apply the function.
# axis = 1 is across left to right, axis = 0 is from top to bottom.

In [28]:
#exercise: concat column-wise instead of row wise. don't forget to reindex ea data u read in so that the
#rows are indexed by name and gender.

#want: data frame with one column for each year

In [37]:
data_list = []

for filename in filenames:
    
    d = pd.read_csv("/data/babynames/" + filename, names = ["Name" ,"Gender", "Count" + filename[3:7]]) 
    
    d = d.set_index(["Name", "Gender"])
    data_list.append(d)
    
data = pd.concat(data_list ,ignore_index = False, axis = 1).fillna(0)

# we don't want it to ignore column names!
#takes long time
data

                  Count2001  Count1986  Count1894  Count1890  Count1919  \
Name      Gender
Aaban     M             0.0        0.0        0.0        0.0        0.0
Aabha     F             0.0        0.0        0.0        0.0        0.0
Aabid     M             0.0        0.0        0.0        0.0        0.0
Aabriella F             0.0        0.0        0.0        0.0        0.0
Aadam     M             0.0        0.0        0.0        0.0        0.0
Aadan     M             0.0        0.0        0.0        0.0        0.0
Aadarsh   M             7.0        0.0        0.0        0.0        0.0
Aaden     F             0.0        0.0        0.0        0.0        0.0
          M             7.0        0.0        0.0        0.0        0.0
Aadesh    M             0.0        0.0        0.0        0.0        0.0
Aadhav    M             0.0        0.0        0.0        0.0        0.0
Aadhavan  M             0.0        0.0        0.0        0.0        0.0
Aadhi     M             0.0        0.0        0.0        0.0        0.0
Aadhira   F             0.0        0.0        0.0        0.0        0.0
Aadhya    F             0.0        0.0        0.0        0.0        0.0
Aadhyan   M             0.0        0.0        0.0        0.0        0.0
Aadi      F             0.0        0.0        0.0        0.0        0.0
          M             0.0        0.0        0.0        0.0        0.0
Aadian    M             0.0        0.0        0.0        0.0        0.0
Aadil     M             7.0        0.0        0.0        0.0        0.0
Aadin     M             0.0        0.0        0.0        0.0        0.0
Aadish    M             0.0        0.0        0.0        0.0        0.0
Aadison   F             0.0        0.0        0.0        0.0        0.0
Aadit     M             0.0        0.0        0.0        0.0        0.0
Aadith    M             0.0        0.0        0.0        0.0        0.0
Aaditri   F             0.0        0.0        0.0        0.0        0.0
Aaditya   M            14.0        0.0        0.0        0.0        0.0
Aadiv     M             0.0        0.0        0.0        0.0        0.0
Aadon     M             0.0        0.0        0.0        0.0        0.0
Aadrian   M             0.0        0.0        0.0        0.0        0.0
...                     ...        ...        ...        ...        ...
Zyrese    M             0.0        0.0        0.0        0.0        0.0
Zyrhiana  F             0.0        0.0        0.0        0.0        0.0
Zyri      F             0.0        0.0        0.0        0.0        0.0
Zyria     F            20.0        0.0        0.0        0.0        0.0
Zyriah    F             9.0        0.0        0.0        0.0        0.0
Zyrian    M             0.0        0.0        0.0        0.0        0.0
Zyriana   F             0.0        0.0        0.0        0.0        0.0
Zyrianna  F             0.0        0.0        0.0        0.0        0.0
Zyrie     F             0.0        0.0        0.0        0.0        0.0
Zyriel    F             0.0        0.0        0.0        0.0        0.0
Zyrielle  F             0.0        0.0        0.0        0.0        0.0
Zyrihanna F             0.0        0.0        0.0        0.0        0.0
Zyrin     M             0.0        0.0        0.0        0.0        0.0
Zyrion    M             0.0        0.0        0.0        0.0        0.0
Zyriyah   F             0.0        0.0        0.0        0.0        0.0
Zyron     M            10.0        0.0        0.0        0.0        0.0
Zyrus     M             0.0        0.0        0.0        0.0        0.0
Zysean    M             0.0        0.0        0.0        0.0        0.0
Zyshaun   M             5.0        0.0        0.0        0.0        0.0
Zyshawn   M            11.0        0.0        0.0        0.0        0.0
Zyshon    M             6.0        0.0        0.0        0.0        0.0
Zyshonne  M            12.0        0.0        0.0        0.0        0.0
Zytaevius M             0.0        0.0        0.0        0.0        0.0
Zytaveon  M             0.0        0.0        0.0        0.0        0.0
Zytavion  M             0.0        0.0        0.0        0.0        0.0
Zytavious M             0.0        0.0        0.0        0.0        0.0
Zyvion    M             0.0        0.0        0.0        0.0        0.0
Zyyanna   F             0.0        0.0        0.0        0.0        0.0
Zyyon     M             0.0        0.0        0.0        0.0        0.0
Zzyzx     M             0.0        0.0        0.0        0.0        0.0

                  Count1972  Count1882  Count1982  Count1984  Count1992  \
Name      Gender
Aaban     M             0.0        0.0        0.0        0.0        0.0
Aabha     F             0.0        0.0        0.0        0.0        0.0
Aabid     M             0.0        0.0        0.0        0.0        0.0
Aabriella F             0.0        0.0        0.0        0.0        0.0
Aadam     M             0.0        0.0        0.0        0.0        0.0
Aadan     M             0.0        0.0        0.0        0.0        0.0
Aadarsh   M             0.0        0.0        0.0        0.0        0.0
Aaden     F             0.0        0.0        0.0        0.0        0.0
          M             0.0        0.0        0.0        0.0        0.0
Aadesh    M             0.0        0.0        0.0        0.0        0.0
Aadhav    M             0.0        0.0        0.0        0.0        0.0
Aadhavan  M             0.0        0.0        0.0        0.0        0.0
Aadhi     M             0.0        0.0        0.0        0.0        0.0
Aadhira   F             0.0        0.0        0.0        0.0        0.0
Aadhya    F             0.0        0.0        0.0        0.0        0.0
Aadhyan   M             0.0        0.0        0.0        0.0        0.0
Aadi      F             0.0        0.0        0.0        0.0        0.0
          M             0.0        0.0        0.0        0.0        0.0
Aadian    M             0.0        0.0        0.0        0.0        0.0
Aadil     M             0.0        0.0        0.0        0.0        7.0
Aadin     M             0.0        0.0        0.0        0.0        0.0
Aadish    M             0.0        0.0        0.0        0.0        0.0
Aadison   F             0.0        0.0        0.0        0.0        0.0
Aadit     M             0.0        0.0        0.0        0.0        0.0
Aadith    M             0.0        0.0        0.0        0.0        0.0
Aaditri   F             0.0        0.0        0.0        0.0        0.0
Aaditya   M             0.0        0.0        0.0        0.0        0.0
Aadiv     M             0.0        0.0        0.0        0.0        0.0
Aadon     M             0.0        0.0        0.0        0.0        0.0
Aadrian   M             0.0        0.0        0.0        0.0        0.0
...                     ...        ...        ...        ...        ...
Zyrese    M             0.0        0.0        0.0        0.0        0.0
Zyrhiana  F             0.0        0.0        0.0        0.0        0.0
Zyri      F             0.0        0.0        0.0        0.0        0.0
Zyria     F             0.0        0.0        0.0        0.0        0.0
Zyriah    F             0.0        0.0        0.0        0.0        0.0
Zyrian    M             0.0        0.0        0.0        0.0        0.0
Zyriana   F             0.0        0.0        0.0        0.0        0.0
Zyrianna  F             0.0        0.0        0.0        0.0        0.0
Zyrie     F             0.0        0.0        0.0        0.0        0.0
Zyriel    F             0.0        0.0        0.0        0.0        0.0
Zyrielle  F             0.0        0.0        0.0        0.0        0.0
Zyrihanna F             0.0        0.0        0.0        0.0        0.0
Zyrin     M             0.0        0.0        0.0        0.0        0.0
Zyrion    M             0.0        0.0        0.0        0.0        0.0
Zyriyah   F             0.0        0.0        0.0        0.0        0.0
Zyron     M             0.0        0.0        0.0        0.0        0.0
Zyrus     M             0.0        0.0        0.0        0.0        0.0
Zysean    M             0.0        0.0        0.0        0.0        0.0
Zyshaun   M             0.0        0.0        0.0        0.0        0.0
Zyshawn   M             0.0        0.0        0.0        0.0        0.0
Zyshon    M             0.0        0.0        0.0        0.0        0.0
Zyshonne  M             0.0        0.0        0.0        0.0        0.0
Zytaevius M             0.0        0.0        0.0        0.0        0.0
Zytaveon  M             0.0        0.0        0.0        0.0        0.0
Zytavion  M             0.0        0.0        0.0        0.0        0.0
Zytavious M             0.0        0.0        0.0        0.0        0.0
Zyvion    M             0.0        0.0        0.0        0.0        0.0
Zyyanna   F             0.0        0.0        0.0        0.0        0.0
Zyyon     M             0.0        0.0        0.0        0.0        0.0
Zzyzx     M             0.0        0.0        0.0        0.0        0.0

                    ...      Count1989  Count1954  Count1904  Count1924  \
Name      Gender    ...
Aaban     M         ...            0.0        0.0        0.0        0.0
Aabha     F         ...            0.0        0.0        0.0        0.0
Aabid     M         ...            0.0        0.0        0.0        0.0
Aabriella F         ...            0.0        0.0        0.0        0.0
Aadam     M         ...            0.0        0.0        0.0        0.0
Aadan     M         ...            0.0        0.0        0.0        0.0
Aadarsh   M         ...            0.0        0.0        0.0        0.0
Aaden     F         ...            0.0        0.0        0.0        0.0
          M         ...            0.0        0.0        0.0        0.0
Aadesh    M         ...            0.0        0.0        0.0        0.0
Aadhav    M         ...            0.0        0.0        0.0        0.0
Aadhavan  M         ...            0.0        0.0        0.0        0.0
Aadhi     M         ...            0.0        0.0        0.0        0.0
Aadhira   F         ...            0.0        0.0        0.0        0.0
Aadhya    F         ...            0.0        0.0        0.0        0.0
Aadhyan   M         ...            0.0        0.0        0.0        0.0
Aadi      F         ...            0.0        0.0        0.0        0.0
          M         ...            0.0        0.0        0.0        0.0
Aadian    M         ...            0.0        0.0        0.0        0.0
Aadil     M         ...            0.0        0.0        0.0        0.0
Aadin     M         ...            0.0        0.0        0.0        0.0
Aadish    M         ...            0.0        0.0        0.0        0.0
Aadison   F         ...            0.0        0.0        0.0        0.0
Aadit     M         ...            0.0        0.0        0.0        0.0
Aadith    M         ...            0.0        0.0        0.0        0.0
Aaditri   F         ...            0.0        0.0        0.0        0.0
Aaditya   M         ...            0.0        0.0        0.0        0.0
Aadiv     M         ...            0.0        0.0        0.0        0.0
Aadon     M         ...            0.0        0.0        0.0        0.0
Aadrian   M         ...            0.0        0.0        0.0        0.0
...                 ...            ...        ...        ...        ...
Zyrese    M         ...            0.0        0.0        0.0        0.0
Zyrhiana  F         ...            0.0        0.0        0.0        0.0
Zyri      F         ...            0.0        0.0        0.0        0.0
Zyria     F         ...            0.0        0.0        0.0        0.0
Zyriah    F         ...            0.0        0.0        0.0        0.0
Zyrian    M         ...            0.0        0.0        0.0        0.0
Zyriana   F         ...            0.0        0.0        0.0        0.0
Zyrianna  F         ...            0.0        0.0        0.0        0.0
Zyrie     F         ...            0.0        0.0        0.0        0.0
Zyriel    F         ...            0.0        0.0        0.0        0.0
Zyrielle  F         ...            0.0        0.0        0.0        0.0
Zyrihanna F         ...            0.0        0.0        0.0        0.0
Zyrin     M         ...            0.0        0.0        0.0        0.0
Zyrion    M         ...            0.0        0.0        0.0        0.0
Zyriyah   F         ...            0.0        0.0        0.0        0.0
Zyron     M         ...            0.0        0.0        0.0        0.0
Zyrus     M         ...            0.0        0.0        0.0        0.0
Zysean    M         ...            0.0        0.0        0.0        0.0
Zyshaun   M         ...            0.0        0.0        0.0        0.0
Zyshawn   M         ...            0.0        0.0        0.0        0.0
Zyshon    M         ...            0.0        0.0        0.0        0.0
Zyshonne  M         ...            0.0        0.0        0.0        0.0
Zytaevius M         ...            0.0        0.0        0.0        0.0
Zytaveon  M         ...            0.0        0.0        0.0        0.0
Zytavion  M         ...            0.0        0.0        0.0        0.0
Zytavious M         ...            0.0        0.0        0.0        0.0
Zyvion    M         ...            0.0        0.0        0.0        0.0
Zyyanna   F         ...            0.0        0.0        0.0        0.0
Zyyon     M         ...            0.0        0.0        0.0        0.0
Zzyzx     M         ...            0.0        0.0        0.0        0.0

                  Count1891  Count1922  Count1997  Count2014  Count2004  \
Name      Gender
Aaban     M             0.0        0.0        0.0       16.0        0.0
Aabha     F             0.0        0.0        0.0        9.0        0.0
Aabid     M             0.0        0.0        0.0        0.0        0.0
Aabriella F             0.0        0.0        0.0        5.0        0.0
Aadam     M             0.0        0.0        5.0       19.0        9.0
Aadan     M             0.0        0.0        0.0        8.0        0.0
Aadarsh   M             0.0        0.0        0.0       18.0       11.0
Aaden     F             0.0        0.0        0.0        0.0        0.0
          M             0.0        0.0        0.0      236.0       21.0
Aadesh    M             0.0        0.0        0.0        0.0        0.0
Aadhav    M             0.0        0.0        0.0       25.0        0.0
Aadhavan  M             0.0        0.0        0.0        0.0        0.0
Aadhi     M             0.0        0.0        0.0        5.0        0.0
Aadhira   F             0.0        0.0        0.0       13.0        0.0
Aadhya    F             0.0        0.0        0.0      249.0        0.0
Aadhyan   M             0.0        0.0        0.0        0.0        0.0
Aadi      F             0.0        0.0        0.0        0.0        0.0
          M             0.0        0.0        0.0       54.0       32.0
Aadian    M             0.0        0.0        0.0        5.0        0.0
Aadil     M             0.0        0.0        7.0       11.0       21.0
Aadin     M             0.0        0.0        0.0        0.0        5.0
Aadish    M             0.0        0.0        0.0        0.0        0.0
Aadison   F             0.0        0.0        0.0        0.0        0.0
Aadit     M             0.0        0.0        0.0       31.0       22.0
Aadith    M             0.0        0.0        0.0        9.0        0.0
Aaditri   F             0.0        0.0        0.0       10.0        0.0
Aaditya   M             0.0        0.0        6.0       40.0       17.0
Aadiv     M             0.0        0.0        0.0        5.0        0.0
Aadon     M             0.0        0.0        0.0        9.0        6.0
Aadrian   M             0.0        0.0        0.0        0.0        0.0
...                     ...        ...        ...        ...        ...
Zyrese    M             0.0        0.0        0.0        0.0        0.0
Zyrhiana  F             0.0        0.0        0.0        0.0        0.0
Zyri      F             0.0        0.0        0.0        0.0        0.0
Zyria     F             0.0        0.0       12.0       14.0       20.0
Zyriah    F             0.0        0.0        0.0       36.0       10.0
Zyrian    M             0.0        0.0        0.0        0.0        0.0
Zyriana   F             0.0        0.0        0.0        0.0        0.0
Zyrianna  F             0.0        0.0        0.0        0.0        0.0
Zyrie     F             0.0        0.0        0.0        0.0        0.0
Zyriel    F             0.0        0.0        0.0        0.0        0.0
Zyrielle  F             0.0        0.0        0.0        0.0        0.0
Zyrihanna F             0.0        0.0        0.0        5.0        0.0
Zyrin     M             0.0        0.0        0.0        5.0        0.0
Zyrion    M             0.0        0.0        0.0        9.0        8.0
Zyriyah   F             0.0        0.0        0.0        5.0        0.0
Zyron     M             0.0        0.0        0.0       13.0        5.0
Zyrus     M             0.0        0.0        0.0       10.0        6.0
Zysean    M             0.0        0.0        0.0        0.0        0.0
Zyshaun   M             0.0        0.0        0.0        0.0        0.0
Zyshawn   M             0.0        0.0        0.0        6.0        7.0
Zyshon    M             0.0        0.0        0.0        0.0        0.0
Zyshonne  M             0.0        0.0        0.0        0.0        0.0
Zytaevius M             0.0        0.0        0.0        0.0        0.0
Zytaveon  M             0.0        0.0        0.0        7.0        0.0
Zytavion  M             0.0        0.0        0.0        0.0        0.0
Zytavious M             0.0        0.0        0.0        0.0        6.0
Zyvion    M             0.0        0.0        0.0        0.0        0.0
Zyyanna   F             0.0        0.0        0.0        0.0        0.0
Zyyon     M             0.0        0.0        0.0        6.0        0.0
Zzyzx     M             0.0        0.0        0.0        0.0        0.0

                  Count1939
Name      Gender
Aaban     M             0.0
Aabha     F             0.0
Aabid     M             0.0
Aabriella F             0.0
Aadam     M             0.0
Aadan     M             0.0
Aadarsh   M             0.0
Aaden     F             0.0
          M             0.0
Aadesh    M             0.0
Aadhav    M             0.0
Aadhavan  M             0.0
Aadhi     M             0.0
Aadhira   F             0.0
Aadhya    F             0.0
Aadhyan   M             0.0
Aadi      F             0.0
          M             0.0
Aadian    M             0.0
Aadil     M             0.0
Aadin     M             0.0
Aadish    M             0.0
Aadison   F             0.0
Aadit     M             0.0
Aadith    M             0.0
Aaditri   F             0.0
Aaditya   M             0.0
Aadiv     M             0.0
Aadon     M             0.0
Aadrian   M             0.0
...                     ...
Zyrese    M             0.0
Zyrhiana  F             0.0
Zyri      F             0.0
Zyria     F             0.0
Zyriah    F             0.0
Zyrian    M             0.0
Zyriana   F             0.0
Zyrianna  F             0.0
Zyrie     F             0.0
Zyriel    F             0.0
Zyrielle  F             0.0
Zyrihanna F             0.0
Zyrin     M             0.0
Zyrion    M             0.0
Zyriyah   F             0.0
Zyron     M             0.0
Zyrus     M             0.0
Zysean    M             0.0
Zyshaun   M             0.0
Zyshawn   M             0.0
Zyshon    M             0.0
Zyshonne  M             0.0
Zytaevius M             0.0
Zytaveon  M             0.0
Zytavion  M             0.0
Zytavious M             0.0
Zyvion    M             0.0
Zyyanna   F             0.0
Zyyon     M             0.0
Zzyzx     M             0.0

[104110 rows x 135 columns]

In [38]:
#What if we don't want to reindex?
#ea dataframe has a merge function

In [40]:
#left.merge(right,on)...

In [47]:
# Ex: merge dataframes so we have counts for 1980 and 1990 sude by side. which name declined in
#popularity the most between 1980 and 1990.

data80 = pd.read_csv("/data/babynames/yob1980.txt", names = ["Name", "Gender", "Count"])

data90 = pd.read_csv("/data/babynames/yob1990.txt", names = ["Name", "Gender", "Count"])

pd.merge(data80, data90) #most obvious thing that comes to mind.
# if u don't specify "on", it will auto match col names
# in both of these dataframes, tabetha f 112 appeared.

           Name Gender  Count
0       Tabetha      F    112
1         Shira      F    109
2      Kenyetta      F    104
3          Rana      F     81
4        Celena      F     73
5         Elida      F     73
6       Keturah      F     57
7        Jenica      F     56
8        Zandra      F     43
9          Aide      F     40
10     Jennefer      F     40
11      Aleasha      F     38
12       Kimiko      F     38
13      Margret      F     38
14     Rashelle      F     38
15    Maricella      F     37
16    Henrietta      F     36
17        Laina      F     36
18     Shawntae      F     36
19     Ivelisse      F     32
20     Lateefah      F     30
21     Natascha      F     30
22    Celestina      F     29
23        Berta      F     28
24      Ophelia      F     27
25        Alita      F     25
26           Le      F     25
27       Katrin      F     24
28     Kerriann      F     24
29       Rhiana      F     24
..          ...    ...    ...
827    Nicholad      M      5
828   Nicholous      M      5
829    Nickolai      M      5
830        Nilo      M      5
831        Nova      M      5
832     Olumide      M      5
833     Osborne      M      5
834        Park      M      5
835    Pattrick      M      5
836         Quy      M      5
837     Rashied      M      5
838       Renan      M      5
839      Robben      M      5
840        Rohn      M      5
841    Rondrick      M      5
842       Ronie      M      5
843       Ronni      M      5
844      Sergei      M      5
845  Shamsuddin      M      5
846      Shawan      M      5
847      Shawna      M      5
848     Shelvin      M      5
849         Shi      M      5
850    Stephens      M      5
851        True      M      5
852     Vashaun      M      5
853     Vikrant      M      5
854          Vy      M      5
855     Waddell      M      5
856      Yvonne      M      5

[857 rows x 3 columns]

In [52]:
data_merged = pd.merge(data80,data90, on = ["Name", "Gender"], how = "outer")

In [53]:

 
data_merged["Diff"] = data_merged["Count_x"] - data_merged["Count_y"] 
data_merged.sort("Diff")

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

            Name Gender  Count_x  Count_y     Diff
39        Ashley      F   7295.0  45549.0 -38254.0
189     Brittany      F   1406.0  36535.0 -35129.0
57      Samantha      F   4919.0  25864.0 -20945.0
12270      Tyler      M   2623.0  20629.0 -18006.0
593        Kayla      F    313.0  17536.0 -17223.0
12213       Kyle      M   5784.0  22697.0 -16913.0
12228    Zachary      M   4240.0  20424.0 -16184.0
12316     Jordan      M   1616.0  16128.0 -14512.0
12175     Andrew      M  19725.0  33653.0 -13928.0
12199      Jacob      M   8522.0  22005.0 -13483.0
12299       Cody      M   1953.0  15392.0 -13439.0
37        Lauren      F   7474.0  20498.0 -13024.0
12247  Alexander      M   3272.0  16181.0 -12909.0
2        Jessica      F  33920.0  46466.0 -12546.0
411      Chelsea      F    541.0  12782.0 -12241.0
29         Megan      F   9137.0  20255.0 -11118.0
30         Emily      F   9005.0  19358.0 -10353.0
216       Alyssa      F   1179.0  11261.0 -10082.0
215      Jasmine      F   1187.0  11033.0  -9846.0
47      Courtney      F   5615.0  15377.0  -9762.0
598       Kelsey      F    309.0   9494.0  -9185.0
212       Hannah      F   1221.0  10275.0  -9054.0
12186    Brandon      M  14160.0  22153.0  -7993.0
283    Alexandra      F    872.0   8506.0  -7634.0
12180    Anthony      M  17611.0  25073.0  -7462.0
12163     Joshua      M  36058.0  43214.0  -7156.0
711       Taylor      F    237.0   7256.0  -7019.0
12     Stephanie      F  17840.0  24856.0  -7016.0
467     Brittney      F    453.0   7428.0  -6975.0
12162    Matthew      M  37857.0  44794.0  -6937.0
...          ...    ...      ...      ...      ...
29081     Xaviar      M      NaN      5.0      NaN
29082     Xazier      M      NaN      5.0      NaN
29083     Yadira      M      NaN      5.0      NaN
29084      Yaniv      M      NaN      5.0      NaN
29085     Yannis      M      NaN      5.0      NaN
29086     Yarden      M      NaN      5.0      NaN
29087    Yardley      M      NaN      5.0      NaN
29088  Yeshayahu      M      NaN      5.0      NaN
29089    Yiannis      M      NaN      5.0      NaN
29090     Yishai      M      NaN      5.0      NaN
29091    Yitzhak      M      NaN      5.0      NaN
29092   Yochanan      M      NaN      5.0      NaN
29093       Yoon      M      NaN      5.0      NaN
29094    Yoshiki      M      NaN      5.0      NaN
29095       Yuya      M      NaN      5.0      NaN
29096   Zaccaria      M      NaN      5.0      NaN
29097     Zacery      M      NaN      5.0      NaN
29098   Zachaery      M      NaN      5.0      NaN
29099      Zafir      M      NaN      5.0      NaN
29100      Zaher      M      NaN      5.0      NaN
29101      Zakir      M      NaN      5.0      NaN
29102      Zamar      M      NaN      5.0      NaN
29103        Zan      M      NaN      5.0      NaN
29104     Zander      M      NaN      5.0      NaN
29105   Zedekiah      M      NaN      5.0      NaN
29106     Zephan      M      NaN      5.0      NaN
29107     Zerick      M      NaN      5.0      NaN
29108       Zeus      M      NaN      5.0      NaN
29109      Ziyad      M      NaN      5.0      NaN
29110      Zoilo      M      NaN      5.0      NaN

[29111 rows x 5 columns]

In [54]:
# outer join: gives max possible rows
# inner join: guarantees no naans
#left join: include ppl from left dataframe , but not necessarily right
#right join: makes sure to include ppl from right dataframe, but not left.

#inner join is default and most common join
#pandas merging is similar to SQL joins.

#pandas has its own join func and operates similarly to merge() and concat()

#if u try merge two columns from 2 dataframes that share same name, then suffix x and y is appended.

In [55]:
#pd.concat() does outer join because there were a lot of nans
# pd.merge() does inner join by default